@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,700&family=Roboto:wght@100;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "google-sans";
	src: url("/fonts/GoogleSans-Bold.ttf") format("truetype");
	font-weight: 700;
}

@font-face {
	font-family: "google-sans";
	src: url("/fonts/GoogleSans-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "google-sans";
	src: url("/fonts/GoogleSans-Regular.ttf") format("truetype");
	font-weight: 400;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.863);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	/* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

/* || RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.no-scroll {
	overflow: hidden;
}
